<div id="preloader" *ngIf="loading">
    <div id="status" >
        <div class="image-container status-container">
            <img src="logo_dark.png" height="25" />
        </div>
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>
