.status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
  }
  
  .image-container {
    margin-bottom: 20px; /* Add some spacing between image and chase dots */
  }
  
  
  